
.navbar.navbar-default.navbar-fixed-top
  .container

    .navbar-header
      a.pull-left.lizard(href='https://www.vidigami.com')
        img(src='./images/vidigami-lizard.png')
      a.navbar-brand(href='./index.html') backbone-orm

      button(type="button", class="navbar-toggle", data-toggle="collapse", data-target="#navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

    .navbar-collapse.collapse#navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='./docs/index.html') Docs
        li
          a(href='https://github.com/vidigami/backbone-orm') GitHub
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Components
            b.caret
          ul.dropdown-menu
            li
              a(href='./index.html') backbone-orm
            li.divider
            li
              a(href='./backbone-mongo.html') backbone-mongo
            li
              a(href='./backbone-sql.html') backbone-sql
            li.divider
            li
              a(href='./backbone-http.html') backbone-http
            li
              a(href='./backbone-rest.html') backbone-rest
