doctype default
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  title BackboneORM
  meta(name="viewport", content="width=device-width")

  link(rel="stylesheet", href="./css/vendor.css")
  link(rel="stylesheet", href="./css/site.css")
  block stylesheets

  script(src="./js/vendor.js")
  script(src="./js/site.js")
  block javascripts

body
  include _includes/_header

  block body

  include _includes/_analytics
