extends _base

include _includes/_nav

block navbar
  mixin navbar('REST')

block content
  .jumbo
    .container
      .jumbotron
        p.hidden-sm.hidden-xs
          img(src='./images/backbone-rest-logo-large.png')
        p.hidden-lg.hidden-md
          img(src='./images/backbone-rest-logo-small.png')
        p.subtitle A RESTful controller for BackboneORM
        .row.block
          .col-lg-12.col-md-12
            h2 Install
            pre
              code
                | npm install backbone-rest

  .container.main
    include examples/backbone-rest/_introduction
    include examples/backbone-rest/_dsl
    include examples/backbone-rest/_security
