extends _base

include _includes/_nav

block navbar
  mixin navbar('SQL')

block content
  .jumbo
    .container
      .jumbotron
        p.hidden-sm.hidden-xs
          img(src='./images/backbone-sql-logo-large.png')
        p.hidden-lg.hidden-md
          img(src='./images/backbone-sql-logo-small.png')
        p.subtitle PostgreSQL, MySQL, and SQLite3 storage for BackboneORM
        .row.block
          .col-lg-12.col-md-12
            h2 Install
            pre
              code
                | npm install backbone-sql

  .container.main
    include examples/backbone-sql/_introduction
    include examples/backbone-sql/_schema
    include examples/backbone-sql/_migrations

