extends _base

include _includes/_nav

block navbar
  mixin navbar('HTTP')

block content
  .jumbo
    .container
      .jumbotron
        p.hidden-sm.hidden-xs
          img(src='./images/backbone-http-logo-large.png')
        p.hidden-lg.hidden-md
          img(src='./images/backbone-http-logo-small.png')
        p.subtitle An HTTP interface for BackboneORM
        .row.block
          .col-lg-6.col-md-6
            h2 Install
            pre
              code
                | npm install backbone-http
          .col-lg-6.col-md-6
            h2 Get the client JavaScript
            a.btn.btn-lg(href='https://raw.github.com/vidigami/backbone-http/0.7.2/backbone-http.js', target='_blank') Download Latest (0.7.2)

  .container.main
    include examples/backbone-http/_introduction
    include examples/backbone-http/_getting_started
    include examples/backbone-http/_templates
