extends _base

block body
  .jumbo
    .container
      .jumbotron
        p.hidden-sm.hidden-xs
          img(src='./images/backbone-sql-logo-large.png')
        p.hidden-lg.hidden-md
          img(src='./images/backbone-sql-logo-small.png')
        p.subtitle A polystore ORM for Node.js and the browser
        .row
          .col-lg-12.col-md-12
            h2 Install
            pre
              code
                | npm install backbone-sql
