extends _base

block body
  .jumbo
    .container
      .jumbotron
        p.hidden-sm.hidden-xs
          img(src='./images/backbone-orm-logo-large.png')
        p.hidden-lg.hidden-md
          img(src='./images/backbone_orm-logo-small.png')
        p.subtitle A polystore ORM for Node.js and the browser
        .row.block
          .col-lg-6.col-md-6
            h2 Install
            pre
              code
                | npm install backbone-orm
          .col-lg-6.col-md-6
            h2 Get the client JavaScript
            a.btn.btn-lg(href='https://raw.github.com/vidigami/backbone-orm/0.5.0/client/backbone-orm.zip', target='_blank') Download Latest (0.5.0)

  .container.main
    include examples/backbone-orm/_introduction
    include examples/backbone-orm/_start_sync
    include examples/backbone-orm/_start_urls
    include examples/backbone-orm/_callback_signature
    include examples/backbone-orm/_relations
    include examples/backbone-orm/_relation_options
    include examples/backbone-orm/_query_find
    include examples/backbone-orm/_iteration
    include examples/backbone-orm/_rest
    include examples/backbone-orm/_dsl
