extends _base

block body

  .container.jumbo
    .jumbotron
      h1 Backbone ORM
      p A polystore ORM for Node.js and the browser
      .row
        .col-lg-6.col-md-6
          h2 Install
          pre
            code
              | npm install backbone-orm
        .col-lg-6.col-md-6
          h2 Get the client side JavaScript
          a.btn.btn-xl Download

  .container.main
    include _examples/_start_sync
    include _examples/_start_urls
    include _examples/_callback_signature
    include _examples/_relations
    include _examples/_query_find
