extends _base

include _includes/_nav
include _includes/_header

block navbar
  mixin navbar('ORM')

block content
  mixin header('orm')

  .container.main
    include examples/backbone-orm/_introduction
    include examples/backbone-orm/_start_sync
    include examples/backbone-orm/_start_urls
    include examples/backbone-orm/_callback_signature
    include examples/backbone-orm/_relations
    include examples/backbone-orm/_relation_options
    include examples/backbone-orm/_query_find
    include examples/backbone-orm/_iteration
    include examples/backbone-orm/_rest
    include examples/backbone-orm/_dsl
