.row
  .col-lg-5.col-md-5
    include ./markdown/getting_started.md
.row
  .col-lg-5.col-md-5
    include ./markdown/require_global.md
  .col-lg-7.col-md-7
    pre
      code.language-html
        include ./txt/require_global.html.txt

.row
  .col-lg-5.col-md-5
    include ./markdown/require_amd.md
  .col-lg-7.col-md-7
    pre
      code.language-html
        include ./txt/require_amd.html.txt

.row
  .col-lg-5.col-md-5
    include ./markdown/require_browserify.md
  .col-lg-7.col-md-7
    pre
      code.language-html
        include ./txt/require_browserify.html.txt
