.row.block
  .col-lg-5.col-md-5
    include ./markdown/start_sync.md
  .col-lg-7.col-md-7
    .row
      a.btn.btn-xs.language-toggle.pull-right
        span CoffeeScript
        i.glyphicon.glyphicon-random
    .row.example.coffeescript
      pre
        code.language-coffeescript
          include ./txt/start_sync.coffee.txt
    .row.example.javascript
      pre
        code.language-javascript
          include ./txt/start_sync.js.txt
