.row
  .col-lg-5.col-md-5
    include ../../examples/markdown/relation_options.md
  .col-lg-7.col-md-7
    div.row
      a.btn.btn-xs.language-toggle.pull-right
        span CoffeeScript
        i.glyphicon.glyphicon-random
    div.row.example.coffeescript
      pre
        code.language-coffeescript
          include ../../examples/txt/relation_options.coffee.txt
    div.row.example.javascript
      pre
        code.language-javascript
          include ../../examples/txt/relation_options.js.txt
