
bg = #fff
bg_light = #ccc
bg_dark = #666

overlay_bg = rgba(0, 0, 0, 0.5)
overlay_bg_light = rgba(255, 255, 255, 0.6)

text_lightest = #fff
text_lighter = #ddd
text_light = #ccc
text_darkest = #333
text_darker = #666
text_dark = #999

vidi_lightgreen = #beff57
vidi_green = #8cc542
vidi_hovergreen = #7ABA28
vidi_darkgreen = #637f2d
vidi_lightgrey = #808185
vidi_grey = #5d5e5e
vidi_darkgrey = #363738
vidi_lightpink = #ff408e
vidi_pink = #d71f5f
vidi_darkpink = #916748
vidi_lightorange = #ffac5a
vidi_orange = #f69220
vidi_darkorange = #b5671a
vidi_lightblue = #aee8ff
vidi_blue = #7bc1e2
vidi_darkblue = #588ca0
vidi_lightpurple = #af37a1
vidi_purple = #722365
vidi_darkpurple = #300f2c

overlay_vidi_green = rgba(#8cc542, 0.6)
overlay_vidi_lightgreen = rgba(#beff57, 0.5)
overlay_vidi_darkgreen = rgba(#637f2d, 0.5)
overlay_vidi_lightgrey = rgba(#808185, 0.5)
overlay_vidi_grey = rgba(#5d5e5e, 0.5)
overlay_vidi_darkgrey = rgba(#363738, 0.5)
overlay_vidi_lightpink = rgba(#ff408e, 0.5)
overlay_vidi_pink = rgba(#d71f5f, 0.5)
overlay_vidi_darkpink = rgba(#916748, 0.5)
overlay_vidi_lightorange = rgba(#ffac5a, 0.5)
overlay_vidi_orange = rgba(#f69220, 0.5)
overlay_vidi_darkorange = rgba(#b5671a, 0.5)
overlay_vidi_lightblue = rgba(#aee8ff, 0.5)
overlay_vidi_blue = rgba(#7bc1e2, 0.5)
overlay_vidi_darkblue = rgba(#588ca0, 0.5)
overlay_vidi_lightpurple = rgba(#af37a1, 0.5)
overlay_vidi_purple = rgba(#722365, 0.5)
overlay_vidi_darkpurple = rgba(#300f2c, 0.5)
