.row.block
  .col-lg-5.col-md-5
    include ./markdown/migrations.md
  .col-lg-7.col-md-7
    div.row.block
      a.btn.btn-xs.language-toggle.pull-right
        span CoffeeScript
        i.glyphicon.glyphicon-random
    div.row.block.example.coffeescript
      pre
        code.language-coffeescript
          include ./txt/migrations.coffee.txt
    div.row.block.example.javascript
      pre
        code.language-javascript
          include ./txt/migrations.js.txt
